[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
argparse = "*"
pyyaml = "*"
pyinstaller = "*"
flake8 = "*"
beautifultable = "*"
more_termcolor = "*"

[requires]
python_version = "3"
